.profile__button {
  height: 24px;
  width: 24px;
  transition: opacity .3s;
  border: none;
  padding: 0;
  background: url(../../../images/EditButton.svg) center no-repeat;
  background-size: 100%;
  cursor: pointer;
}

.profile__button:hover {
  opacity: .6;
}

@media screen and (max-width: 767px) {
  .profile__button {
    height: 18px;
    width: 18px;
  }
}